<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">


<link rel="stylesheet" href="assets/css/styles.css">

<title>Inserir Pagamentos</title>

</head>
<body>


	<!-- menu -->
	<!-- A classe navbar-expand-lg expande o menu a partir de telas mais largas (telas maiores)  -->
	<nav id="menu" class="navbar navbar-expand-lg navbar-dark text-light"
		style="background-color: #383837;">
		<div class="container mx-3">
			<a href="/"><img
				src="../assets/images/LOGO/LOGO_Camisa_10-removebg-preview.png"
				alt="Logo do camisa 10 FC" width="90" height="90"></a>
			<h5>Camisa 10 FC</h5>
			</a>
			<!-- O button é o SANDWICHE do MENU -->
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- dentro do <ul> consta todos os hiperlinks <li> do menu -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto ">

					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/">INÍCIO</a></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="/" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown" aria-expanded="false">
							O CLUBE </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="/#treinadores">Treinadores</a></li>
							<li><a class="dropdown-item" href="/#patrocinadores">Patrocinadores</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="/#redes_sociais">Mais
									informações</a></li>
						</ul></li>

					<li class="nav-item"><a class="nav-link" href="/#localizacao">LOCALIZAÇÃO</a>
					</li>


					<li class="nav-item dropdown"><a class="nav-link disabled"
						href="#">PESQUISA E INCLUSÃO</a></li>

					<li class="nav-item"><a class="nav-link disabled">LOJA
							VIRTUAL</a></li>
					<li class="nav-item"><a class="nav-link disabled">FALE
							CONOSCO</a></li>

				</ul>
			</div>
		</div>
	</nav>
	<!-- fim menu -->

	<br>

	<!-- Botão voltar para tela de pesquisa -->
	<div class="form-group">
		<div class="form-row">
			<div class="form-group col-md-1"></div>
			<div class="form-group col-md-11">
				<a class="btn btn btn-secondary btn-sm" href="/incluirPagamento">PESQUISAR
					ALUNO</a>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="mb-0">
			<h4 class="display-6">INSERIR PAGAMENTO</h4>
		</div>
		<div class="alert alert-success alert-dismissible fade show"
			th:if="${mensagem}">
			<span th:text="${mensagem}"></span>
		</div>


	<!-- INÍCIO DO FORMULÁRIO -->
		<form action="#" th:action="@{/salvarPagamento}" th:object="${pagamentos}" method="post">
			<div class="form-group">
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="nome">Nome do Aluno:</label> <input
							class="form-control" th:field="*{nome}" name="nome"
							placeholder="Informe o nome do Aluno" autofocus="autofocus">
						<div class="col-sm-5">
							<small><span class="mensagem"
								th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span></small>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="valor">Valor:</label> <input class="form-control"
							th:field="*{valor}" name="valor" placeholder="Informe o valor">
						<div class="col-sm-4">
							<small><span class="mensagem"
								th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></span></small>
						</div>
					</div>


					<div class="form-group col-md-4">
						<label for="data_pagamento"> Data do Pagamento:</label> <input
							type="date" class="form-control" th:field="*{data_pagamento}"
							name="data_pagamento" placeholder="Informe a data do pagamento">
					</div>

					<div class="form-group col-md-4">
						<label for="forma_pagamento">Forma de Pagamento</label> <select
							class="form-control" th:field="*{forma_pagamento}"
							name="forma_pagamento">
							<option value="">Selecione a forma:</option>
							<option value="PIX">PIX</option>
							<option value="DINHEIRO">DINHEIRO</option>
							<option value="CARTÃO DE CRÉDITO">CARTÃO DE CRÉDITO</option>
						</select>
						<div class="col-sm-5">
							<small><span class="mensagem"
								th:if="${#fields.hasErrors('forma_pagamento')}"
								th:errors="*{forma_pagamento}"></span></small>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="referencia">Referência</label> <select
					class="form-control" th:field="*{referencia}" name="referencia">
					<option value="">Referencia do pagamento:</option>
					<option value="MENSALIDADE">MENSALIDADE</option>
					<option value="UNIFORME">UNIFORME</option>
					<option value="OUTRA">OUTRA ...</option>
				</select>
				<div class="col-sm-5">
					<small><span class="mensagem"
						th:if="${#fields.hasErrors('referencia')}"
						th:errors="*{referencia}"></span></small>
				</div>
			</div>

			<div class="form-group">
				<label for="observacoes">Observações:</label> <input
					class="form-control" th:field="*{observacoes}" name="observacoes"
					placeholder="Observações ...">
			</div>

			<button type="submit" class="btn btn-secondary">Gravar</button>
		</form>
	</div>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous">
		
	</script>

</body>

</html>